/*--------------------------------*/
/*----------LAYOUT-AUSTRONAUT-----*/
/*--------------------------------*/
.full-height {
  height: 100vh;
  font-family: "Rubik", sans-serif;
}
.austronaut {
  background-image: url("../img/adam-miller-dBaz0xhCkPY-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 42%;
}
/*--------------------------------*/
/*----------MENUBUTTON------------*/
/*--------------------------------*/
.menu-btn {
  border: none;
  position: relative;
  display: flex;
  left: 95%;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  transition: all 0.5s ease-in-out;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.274);
}
.burger-menu {
  width: 40px;
  height: 5px;
  background-color:black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(255, 255, 255);
  transition: all 0.5s ease-in-out;
  position: fixed;
}
.burger-menu::before, .burger-menu::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 5px;
  background-color: black;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 2px 5px rgb(255, 255, 255);
}
.burger-menu::before {
  transform: translateY(-16px);
}
.burger-menu::after {
  transform: translateY(16px);
}
/*--------------------------------*/
/*----------MENUBUTTON-VISUALS----*/
/*--------------------------------*/
.menu-btn.open .burger-menu {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .burger-menu::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .burger-menu::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.menu-btn.open + nav {
  visibility: visible;
  opacity: 1;
}
/* .menu-btn:hover .burger-menu::after{
  
}
.menu-btn:hover .burger-menu::before{
  
} */
/*--------------------------------*/
/*----------NAV-------------------*/
/*--------------------------------*/
nav{
  position: fixed;
  background-color: rgba(255, 255, 255, 0.795);
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: opacity 10s cubic-bezier(0.075, 0.82, 0.165,1);
  text-transform:uppercase;
  font-size: 4rem;
  visibility: hidden;
  z-index: 2;
  top: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  text-align: center;
}
.menu-options{
  
  text-decoration: none;
  color: #030202;
  text-shadow: 2px 2px 2px #0302026c;
}
.menu-options:hover{
  text-decoration: underline;
  text-decoration-color: rgb(209, 0, 161);
  text-decoration-thickness: 10px;
}
/*--------------------------------*/
/*----------EVENTBOX--------------*/
/*--------------------------------*/
.box {
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  height: 26.5rem;
  width: 27rem;
  border: 4px solid black;
  top: 3rem;
  left: 8rem;
  background-color: rgba(255, 255, 255, 0.481);
}
.box h1 {
  font-weight: 600;
  margin-top: 4rem;
  text-transform: uppercase;
  font-size: 6rem;
  text-align: center;
}
/*--------------------------------*/
/*----------LINK EVENTBOX---------*/
/*--------------------------------*/
#arrow1 {
  font-size: 1.5rem;
}
.box .arrow1 {
  position: absolute;
  left: 17.5rem;
  top: 24rem;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  color: black;
}
.arrow1:hover #arrow1 {
  position: relative;
  left: 12px;
}
.arrow1 #arrow1 {
  position: relative;
  left: 0;
  transition: left 0.5s ease-in-out;
}
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*-----------TEXTSITE-------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
.flex-box1 {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 45px;
}
.flex-box2 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.text {
  background-image: url(../img/raphael-nogueira-svbDI1Pq30s-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-size: cover;
  color: white;
  z-index: -10;
}
/*--------------------------------*/
/*----------HEADINGTEXT-----------*/
/*--------------------------------*/
.space {
  font-weight: 600;
  text-shadow: 2px 2px 2px #030202, 2px 2px 2px #030202;
  position: absolute;
  font-size: 6rem;
  margin-left: 120px;
  margin-top: 40px;
  z-index: 1;
}
.venture {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  color: rgba(204, 204, 204, 0.5);
  text-shadow: 2px 2px 2px #030202, 2px 2px 2px #030202;
  font-size: 8rem;
  z-index: 0;
  margin-left: 120px;
  margin-top: 35px;
  padding-top: 40px;
  letter-spacing: -3.5px;
}
/*--------------------------------*/
/*----------ARTICLE ONE-----------*/
/*--------------------------------*/
h2 {
  margin-top: 50px;
  font-size: 1.5rem;
}
article {
  width: 425px;
  margin-left: 100px;
  font-size: 13px;
  padding-right: 40px;
  padding-left: 40px;
  font-weight: 200;
  line-height: 20px;
}
.line-space {
  line-height: 30px;
}
article .br {
  content: "";
  display: block;
  margin: 5px 0;
}
/*--------------------------------*/
/*----------QUOTE-----------------*/
/*--------------------------------*/
.quote-text {
  font-size: 20px;
  font-weight: 100;
  padding: 20px 10px 20px 80px;
  line-height: 25px;
  margin-left: 15%;
}
.quote{
  position: absolute;
  font-size: 36px;
  color: rgba(254, 182, 237, 0.693);
}
.sign1{
  left: 12%;
}
.sign2{
  left: 17%;
}
/*--------------------------------*/
/*----------GRADIENT TEXT---------*/
/*--------------------------------*/
.presistence {
  position: relative;
  margin-left: 130px;
  margin-top: 50px;
  font-size: 200%;
  font-weight: 100;
  background: -webkit-linear-gradient(rgba(182, 0, 139, 0.5), rgba(125, 125, 125, 0.5), rgba(182, 0, 139, 0.5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*--------------------------------*/
/*----------PICTUREMAJORTOM-------*/
/*--------------------------------*/
#major-tom {
  width: 110px;
  height: 170px;
  position: relative;
  /* margin-left: 275px; */
  float: right;
  margin-top: -45px;
}
/*--------------------------------*/
/*----------link------------------*/
/*--------------------------------*/
.arrow2 {
  font-size: 14px;
  color: red;
}
.arrow2:hover #arrow2 {
  position: relative;
  left: 10px;
  text-decoration: none;
}
.arrow2 #arrow2 {
  position: relative;
  left: 0;
  transition: left 0.5s ease-in-out; 
}
/*--------------------------------*/
/*----------COOKIEfooter----------*/
/*--------------------------------*/
footer {
  height: 65px;
  width: 100vw;
  background-color:rgba(8, 8, 70, 0.604);
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content:space-around;
  }
footer p{
  position: relative;
  color: rgb(209, 0, 161);
  font-size: 14px;
  text-align: left;
  text-shadow: 0 0 20px rgb(204, 144, 190);
  margin-top: 1.5%;
  margin-left: 0;
}
.accept-cookies {
  height: 40px;
  position: relative;
  background-color:rgb(31, 31, 180);
  color: white;
  font-size: 12px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  left: 6%;
  top: 12%;
}
.mobile-br {
  display: none;
}/*# sourceMappingURL=desktop.css.map */